[core]
	editor = nvim
	fsmonitor = true
	autocrlf = input
[merge]
	conflictstyle = diff3

[diff]
	tool = vimdiff

[pull]
	rebase = true

[init]
	defaultBranch = main

[commit]
	gpgsign = true

[tag]
	gpgSign = true

[gpg]
	program = C:\\Program Files (x86)\\GnuPG\\bin\\gpg.exe

[include]
	path = "~/.dotfiles/local/.gitconfig"

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true

[ssh]
	variant = ssh
