set easymotion
set surround
set incsearch
set hlsearch
set showmatch
set visualbell
set noerrorbells

set clipboard+=unnamed

let leader = "\"

nmap gi :action GotoImplementation<CR>

nmap <leader>[ :action Back<CR>
nmap <leader>] :action Forward<CR>

nmap <leader>ws :action SplitHorizontally<CR
nmap <leader>wv :action SplitVertically<CR>

nmap <leader>rI :action OptimizeImports<CR>
